 <h4><a name="asp"></a>Asp Implementation</h4>    </br>   
<pre class="prettyprint linenums pre-scrollable"><code><%= render :partial => "static_pages/aspimplementation" %></code>
</pre>
  <h4><a name="php"></a>Php Implementation</h4>       </br>
<pre class="prettyprint linenums pre-scrollable"><code><%= render :partial => "static_pages/phpimplementation" %></code>
</pre>
  <h4><a name="ruby"></a>Ruby Implementation</h4>      </br> 
<pre class="prettyprint linenums pre-scrollable"><code><%= render :partial => "static_pages/rubyimplementation" %></code>
</pre>
  <h4><a name="java"></a>Java Implementation</h4>      </br> 
<pre class="prettyprint linenums pre-scrollable"><code><%= render :partial => "static_pages/javaimplementation" %></code>
</pre>
