<div class="container-fluid">
     <div class="row-fluid">
          <div class="row">
               <div class="span2">
                   <%= render :partial => "static_pages/menu" %>
               </div>
               <div class="span10">
               <h2>Basics</h2>
               </div>
          </div>
     </div>
</div>
