<div class="container-fluid">
     <div class="row-fluid">
<div class="row">
<div class="span2">
<%= render :partial => "static_pages/menu" %>
</div>
<div class="span10">
<h2> Developer APIs</h2>
 <p>The TracksGiving API allows you to integrate your front-end systems directly into TracksGiving, so you can completely control your customers’ experience and pass data back and forth to us behind the scenes.</p>
</div>
</div>
</div>
</div>    
