<%= render :partial => "static_pages/menu" %>
<div class= "span10">
                <p>TracksGiving is a "back-end" platform to transparently manage any initiative that has charitable giving as part of its goal. </p>
       <a href="https://secure.tracksgiving.com/tour"> Take a tour </a>
                  
              <div class="tabbable">
    <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Ruby</a></li>
    <li><a href="#tab2" data-toggle="tab">PHP</a></li>
    <li><a href="#tab3" data-toggle="tab">ASP</a></li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    <p>I'm in Section 1.</p>
    </div>
    <div class="tab-pane" id="tab2">
    <p>Howdy, I'm in Section 2.</p>
      <div class="tab-pane" id="tab3">
    <p>Howdy, I'm in Section 3.</p>
     </div>
    </div>
    </div>


</div> 

